<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- service -->
	<bean id="coreService" class="org.openyu.cms.core.service.impl.CoreServiceImpl"
		parent="appServiceSupporter">
	</bean>
	
	<!-- interceptor -->
	<bean id="coreBackInterceptor" class="org.openyu.cms.core.web.struts2.CoreBackInterceptor"
		parent="appWebInterceptorSupporter">
	</bean>

	<bean id="coreFrontInterceptor" class="org.openyu.cms.core.web.struts2.CoreFrontInterceptor"
		parent="appWebInterceptorSupporter">
	</bean>
</beans>
