<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- configHelper -->
	<bean id="configHelper" class="org.openyu.cms.app.util.AppConfigHelper">
		<property name="configLocation">
			<value>/WEB-INF/data/conf/config.xml</value>
		</property>
		<property name="jsonDirLocation">
			<value>/WEB-INF/data/json</value>
		</property>
		<property name="keyDirLocation">
			<value>/WEB-INF/data/key</value>
		</property>
		<property name="serDirLocation">
			<value>/WEB-INF/data/ser</value>
		</property>
		<property name="xmlDirLocation">
			<value>/WEB-INF/data/xml</value>
		</property>
		<property name="excelDirLocation">
			<value>/WEB-INF/data/excel</value>
		</property>
		<property name="outputDirLocation">
			<value>custom/output</value>
		</property>
		<property name="downloadDirLocation">
			<value>custom/download</value>
		</property>
		<property name="uploadDirLocation">
			<value>custom/upload</value>
		</property>
		<property name="resourcePathLocation">
			<value>custom/resource</value>
		</property>
		<property name="templatePathLocation">
			<value>/WEB-INF/custom/template</value>
		</property>
		<property name="backupPathLocation">
			<value>/WEB-INF/backup</value>
		</property>
	</bean>

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>/WEB-INF/data/conf/database.properties</value>
				<value>/WEB-INF/data/conf/database-log.properties</value>
				<value>/WEB-INF/data/conf/authKeyService.properties</value>				
			</list>
		</property>
	</bean>

	<!--  
	<bean id="cacheProvider" class="org.openyu.commons.hibernate.EhCacheProvider">
		<property name="cacheManagerName">
			<value>cacheProvider</value>
		</property>
		<property name="configLocation">
			<value>classpath:ehcache.xml</value>
		</property>
		<property name="diskStoreLocation">
			<value>/WEB-INF/ehcache</value>
		</property>
	</bean>
	-->

	<!--
	<bean id="logCacheProvider" class="org.openyu.commons.hibernate.EhCacheProvider">
		<property name="cacheManagerName">
			<value>logCacheProvider</value>
		</property>
		<property name="configLocation">
			<value>classpath:ehcache-log.xml</value>
		</property>
		<property name="diskStoreLocation">
			<value>/WEB-INF/ehcache-log</value>
		</property>
	</bean>
	-->

	<!-- velocity -->
	<bean id="velocityConfigurer"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath" value="/WEB-INF/custom/template" />
		<property name="configLocation" value="/WEB-INF/data/conf/velocity.properties" />
	</bean>

	<!-- freeMarker -->
	<bean id="freeMarkerConfigurer"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/custom/template" />
		<property name="configLocation" value="/WEB-INF/data/conf/freemarker.properties" />
	</bean>

	<!-- autowired -->
	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

</beans>